body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* HEADER --------------------------------------------------------------- */

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0vh 5vw;
  background-color: #ccc;
}

.currency-container {
  display: flex;
  justify-content: space-evenly;

  width: 10vw;
}

/* POPUP ----------------------------------------------------------------- */

.popUp {
  width: 40vw;
  height: 40vw;
  position: absolute;
  top: 10vh;
  left: 30vw;
  background-color: blueviolet;

}
